# ===========================
# Node
# ===========================
node_modules/
dist/

# ===========================
# Python
# ===========================
backend/venv/
backend/__pycache__/
*.pyc

# ===========================
# Environment Variables
# ===========================
.env

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Operating System
# ===========================
.DS_Store
Thumbs.db